<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
      <bean id="persion" class="com.neo.spring.Persion">
          <property name="name" value="小微"></property>
          <property name="age" value="16"></property>
          <property name="carMap">
              <map>
                  <entry key="aa" value-ref="car"></entry>
              </map>
          </property>
      </bean>
    <bean id="car" class="com.neo.spring.Car">
        <property name="name" value="奥迪"></property>
        <property name="corlor" value="绿色"></property>
        <property name="perce" value="888882828"></property>
    </bean>
</beans>