<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 <!--sping bean 的作用域 1、singleton 2、prototype 3、request 4、Session-->
    <bean id="persion" class="com.neo.spring.Persion" >
        <property name="name" value="张山"></property>
        <property name="age" value="26"></property>
    </bean>
</beans>